<!DOCTYPE html>
<html>
<head>
    <title>ユーザー一覧</title>
</head>
<body>
    <h1>ユーザー一覧</h1>
    <ul>
        {% for user in users %}
        <li>学籍番号：{{user.student_id}} 学生証idm：{{user.idm_univ}} バスidm：{{user.idm_bus}}
        {% endfor %}
    </ul>

    <h2>ユーザー追加</h2>
    <form method="post" action="/add">
        <input type="submit" value="カードの登録に進む">
    </form>

    <h2>ユーザー消去</h2>
    <form method="post" action="/delete">
        <select name="user_id">
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.student_id }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="ユーザーを消去する">
    </form>
</body>
</html>
